body {
    display: flex;
    background-color: black;
}

.searchBar {
  background-color: #1eff00;
  height: 50px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  color: black;
  font-size: large;
}

.search-results-item {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}