body {
    display: flex;
}

.searchBar {
  background-color: #1eff00;
  height: 50px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  color: black;
  font-size: large;
}

.search-results-item {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_1 {
    height: 50px;
    width: 50px;
    background-color: rgb(34, 250, 6);
    border-radius: 50%;
  }
  
  .circle_2{
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  .circle_3 {
    height: 50px;
    width: 50px;
    background-color: rgb(252, 8, 170);
    border-radius: 50%;
  }
  
  .circle_4 {
    height: 50px;
    width: 50px;
    background-color: rgb(34, 250, 6);
    border-radius: 50%;
  }
  
  .circle_5{
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  .circle_6 {
    height: 50px;
    width: 50px;
    background-color: rgb(252, 8, 170);
    border-radius: 50%;
  }
  .circle_7 {
    height: 50px;
    width: 50px;
    background-color: rgb(34, 250, 6);
    border-radius: 50%;
  }
  
  .circle_8{
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  .circle_9 {
    height: 50px;
    width: 50px;
    background-color: rgb(252, 8, 170);
    border-radius: 50%;
  }
  
  .circle_10 {
    height: 50px;
    width: 50px;
    background-color: rgb(34, 250, 6);
    border-radius: 50%;
  }
  